@import "../scss/functions";

// color

@import "../scss/variables";

$font-family-base: "MyFont", system-ui, sans-serif;

//$new-theme-colors: (// new colors);
//$theme-colors: map-merge($theme-colors, $new-theme-colors);

// resto
$new-spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  8: $spacer * 5,
  9: $spacer * 5.5,
  10: $spacer * 6,
);

$spacers: map-merge($spacers, $new-spacers);

$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.5;

$new-font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

@import "../scss/maps";
@import "../scss/mixins";
@import "../scss/utilities";

@import "./loop";

@import "../scss/utilities/api";
@import "../scss/bootstrap.scss";
// mod

// normal css
@font-face {
  font-family: "MyFont";
  src: url("./16460_GarrisonKayo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// body
html,
body {
  touch-action: manipulation;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}
button,
a {
  touch-action: manipulation;
}
img {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.bg-body {
  position: relative;
  min-height: 100%;
  background: none;
}

.bg-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -10;
  background-image: url("../img/TEXTURE.png");
  background-position: center;
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}
// nav bar

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.1);
}

// header nav bar logo
nav .logo img {
  height: clamp(40px, 5vw, 70px);
}

//  section hero
// section gameboy

.custom-gameboy-size {
  top: 8%;
  left: 3%;
  width: 93%;
  height: 40%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.bg-custom {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.bg-custom::before {
  content: "";
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("../img/Verticale_Senza.png");
  background-position: 50% 80%;
  background-size: 110% auto;
  background-repeat: no-repeat;
}
.size-custom {
  width: 100vw;
  height: 100lvh;
}
.opacityAnimation {
  opacity: 0;
}
.marquee {
  position: absolute;
  bottom: 8%;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
  animation-play-state: paused;
  transition: 1s ease;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
.marquee-ready {
  animation-play-state: running;
}

.marquee-track h1 {
  white-space: nowrap;
  margin-right: 2rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(232, 37, 41);
}
.custom-positionUp {
  top: 55%;
  left: 21.5%;
  height: 7%;
  width: 13%;
  background-color: transparent;
}
.custom-positionUp-touched {
  transform: translateY(-3%);
}
.custom-positionDown {
  top: 67.2%;
  left: 21.5%;
  height: 7.5%;
  width: 13%;
  background-color: transparent;
}

.custom-positionDown-touched {
  transform: translateY(3%);
}
.custom-push {
  top: 61%;
  height: 11.2%;
  width: 40.5%;
  background-color: transparent;
  rotate: 328deg;
  left: 60%;
}
.custom-push-touched {
  transform: translate(-2%, 1%);
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
a.phone-link,
a.phone-link:visited,
a.phone-link:hover,
a.phone-link:active {
  color: #000 !important;
  text-decoration: none !important;
}
.display-custom-landscape {
  display: none !important;
}
@media screen and (min-width: 576px) and (orientation: landscape) {
  header,
  main {
    display: none;
  }
  .display-custom-landscape {
    display: flex !important;
  }
}
