@import "../scss/functions";

// color

@import "../scss/variables";

//$new-theme-colors: (// new colors);
//$theme-colors: map-merge($theme-colors, $new-theme-colors);

// resto
$new-spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  8: $spacer * 5,
  9: $spacer * 5.5,
  10: $spacer * 6,
);

$spacers: map-merge($spacers, $new-spacers);

$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.5;

$new-font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

@import "../scss/maps";
@import "../scss/mixins";
@import "../scss/utilities";

@import "./loop";

@import "../scss/utilities/api";
@import "../scss/bootstrap.scss";
// mod

// normal css
// body
.bg-body {
  position: relative;
  min-height: 100lvh;
  /* Rimuoviamo l'immagine da qui */
  background: none;
}

.bg-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  z-index: -10; /* Lo manda dietro a tutto */
  background-image: url("../img/TEXTURE.png");
  background-position: center;
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}
// nav bar

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.1);
}

// header nav bar logo
nav .logo img {
  height: clamp(40px, 5vw, 70px);
}

//  section hero
// section gameboy

.custom-gameboy-size {
  top: 8%;
  left: 20%;
  width: 61%;
  height: 31%;
  object-fit: cover;
}

.bg-custom {
  position: relative;
  min-height: 100lvh;
  overflow: hidden;
}

.bg-custom::before {
  content: "";
  position: fixed; /* O fixed se deve coprire l'intera pagina */
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  z-index: -1;
  background-image: url("../img/Verticale_Senza.png");
  background-position: center;
  background-size: 110% auto;
  background-repeat: no-repeat;
}
