@import "../scss/functions";

// color

@import "../scss/variables";

$font-family-base: "MyFont", system-ui, sans-serif;

//$new-theme-colors: (// new colors);
//$theme-colors: map-merge($theme-colors, $new-theme-colors);

// resto
$new-spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  8: $spacer * 5,
  9: $spacer * 5.5,
  10: $spacer * 6,
);

$spacers: map-merge($spacers, $new-spacers);

$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.5;

$new-font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

@import "../scss/maps";
@import "../scss/mixins";
@import "../scss/utilities";

@import "./loop";

@import "../scss/utilities/api";
@import "../scss/bootstrap.scss";
// mod

// normal css
@font-face {
  font-family: "MyFont";
  src: url("./16460_GarrisonKayo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// body

.bg-body {
  position: relative;
  min-height: 100%;
  /* Rimuoviamo l'immagine da qui */
  background: none;
}

.bg-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -10; /* Lo manda dietro a tutto */
  background-image: url("../img/TEXTURE.png");
  background-position: center;
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}
// nav bar

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.1);
}

// header nav bar logo
nav .logo img {
  height: clamp(40px, 5vw, 70px);
}

//  section hero
// section gameboy

.custom-gameboy-size {
  top: 8%;
  left: 20%;
  width: 61%;
  height: 31%;
  object-fit: cover;
}

.bg-custom {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.outlined {
  color: rgb(232, 37, 41);
  text-shadow:
    0.5px 0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px -0.5px 0 black;
  font-weight: bold;
}
.bg-custom::before {
  content: "";
  position: fixed; /* O fixed se deve coprire l'intera pagina */
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("../img/Verticale_Senza.png");
  background-position: center;
  background-size: 110% auto;
  background-repeat: no-repeat;
}
.size-custom {
  width: 100vw;
  height: 100svh;
}
.opacityAnimation {
  opacity: 0;
}
.marquee {
  position: absolute;
  bottom: 20%;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
  animation-play-state: paused;
  transition: 1s ease;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
.marquee-ready {
  animation-play-state: running;
}

.marquee-track h1 {
  white-space: nowrap;
  margin-right: 2rem;
  font-size: 5rem;
  color: black;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
