.info-custom-body {
  background-image: url("../img/TEXTURE.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mh-custom {
  max-height: 30rem;
  margin-top: 10%;
}
.custom-m {
  margin-top: 35%;
}
.fw-custom {
  font-weight: 550;
}
